{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head_title %}PathFinder{% endblock %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
		    <h2>Create a new project</h2>
        <br>
        
        <form class="form-horizontal" id="project_form" method="post" action="/project/create">
            {% csrf_token %}
            {% bootstrap_form form%}
            <input type="submit" class="btn btn-primary" value="submit"/>
        </form>

      </div>
    </div>

{% endblock %}