{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head_title %}PathFinder{% endblock %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <a href="/">Return to the homepage.</a><br />
          <h2>{{spark.name}}</h2>
          <br><br>
          <p>Created on: {{spark.start_date}}</p>
          <p>Category: {{spark.category}}</p>
          <p>Project link: {{spark.url}}</p>

      </div>
    </div>
{% endblock %}